* {
	box-sizing: border-box;
}


.askBody{
	background: *;
	color: white;

}


.container {
	width: 1024px;			
    margin: 0 auto;
 }
a {
	margin-right: 100px;
	font-size: 30px;
	
	padding: 10px;
	text-decoration: none;
}

a:hover{
	background-color: #b7b6b0;
}

a:visited {
    color: #3a5059;
}
.Topics{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 200px;	
	margin-left: 80px;	
}

h1, h2{
		text-align: center;
}

h1{
	margin-top: 30px;
	font-size: 43px;
	color: #718c9b;
	margin-bottom: 40px;
}
h2{
	font-size: 29px;
	color: #262524;
}

.Humanitary{
		margin-bottom: 150px;	
}

.Tech{
	margin-left: 140px;
}

